
<div class="bojenfehler">
    <h1> Bojenfehler </h1>
    <div id="parcours">
        <div class="parcours" id="hinfahrt">
            {% set dir = 'H' %}
            {% include 'user/bojenrichter/bojen.html.twig' %}
            <p id="beschriftung"> Hinfahrt </p>
        </div>
        <div class="parcours" id="rueckfahrt">
            <div class="s_boje" id="sb_l">
                {% set boje = "SB_l" %}
                {% include 'user/bojenrichter/boje.html.twig' %}
            </div>
            <div class="s_boje" id="sb_r">
                {% set boje = "SB_r" %}
                {% include 'user/bojenrichter/boje.html.twig' %}
            </div>
            {% set dir = 'R' %}
            {% include 'user/bojenrichter/bojen.html.twig' %}
            <p id="beschriftung"> Rückfahrt </p>
        </div>
    </div>
</div>