<h1> Zeitnahme </h1>
<p><b>Nur auf neueren Android Versionen oder auf Apple</b></p>
<p>
    <label for="Zeit_elektronisch">
        Elektronisch gemessene Zeit in Sekunden: optional <!-- inputmode="decimal" pattern="[0-9]{3}[,.][0-9]{2}" android:inputType="numberDecimal"--></label>
    <br>
    <input type="number" name="Zeit_elektronisch" id="Zeit_elektronisch" step="0.001" min="0.0">
</p>
<p>
    <label for="Zeit_manuell_1"> Manuell gemessene Zeit in Sekunden (1): </label>
    <br><input type="number" name="Zeit_manuell_1" id="Zeit_manuell_1" step="0.001" min="0.0">
</p>
<p>
    <label for="Zeit_manuell_2"> Manuell gemessene Zeit in Sekunden (2): </label>
    <br><input type="number" name="Zeit_manuell_2" id="Zeit_manuell_2" step="0.001" min="0.0">
</p>